.gka-wrap {
    width: 266px;
    height: 219px;
}

.prefix-animation {
    width: 266px;
    height: 219px;
    background-image: url("./img/prefix--0.png");
    background-repeat: no-repeat;

    animation-name: prefix-keyframes;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

@-webkit-keyframes prefix-keyframes {
    0% {
        width: 266px;
        height: 219px;
        background-image: url("./img/prefix--0.png");
        background-position: -244px 0;
    }
    20.00% {
        width: 413px;
        height: 211px;
        background-position: -510px 0;
    }
    40.00% {
        width: 521px;
        height: 238px;
        background-position: -1368px 0;
    }
    60.00% {
        width: 244px;
        height: 183px;
        background-position: 0 0;
    }
    80.00% {
        width: 445px;
        height: 230px;
        background-position: -923px 0;
    }
    100% {
        width: 445px;
        height: 230px;
        background-position: -923px 0;
    }
}

