.gka-wrap {
    width: 670px;
    height: 23px;
}

.prefixanimation {
    width: 670px;
    height: 23px;
    background-image: url("./img/prefix-0.png");
    background-repeat: no-repeat;

    animation-name: prefixkeyframes;
    animation-duration: 0.12s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

@-webkit-keyframes prefixkeyframes {
    0% {
        width: 670px;
        height: 23px;
        background-image: url("./img/prefix-0.png");
    }
    33.33% {
        background-image: url("./img/prefix-1.png");
    }
    66.67% {
        background-image: url("./img/prefix-2.png");
    }
    100% {
        background-image: url("./img/prefix-2.png");
    }
}

